body {
  background-color: #EC1561;
  color: white;
}

#crab {
  width: 160px;
  height: 160px;
  padding: 240px;
}
img {
  width: 40px;
  height: 40px;
  padding: 60px;
  background-color: #FABAD0

}
